
.view {
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  max-width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.view header {
  background: #ffffff;
  width: 100vw;
  z-index: 999;
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  height: 44px;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 0;
  border-bottom: 1px solid #e6e4e4;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.view header .icon-left {
  text-align: center;
  width: 50px;
}
.view header .icon-left i.back {
  width: 12px;
  height: 44px;
  display: inline-block;
  vertical-align: middle;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  font-style: normal;
  position: relative;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D'12'%20height%3D'20'%20viewBox%3D'0%200%2012%2020'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M.18261596%209.4221638c.0352203-.05148305.07573462-.10050698.1215468-.14631917L9.1425872.4374202c.5830904-.58309038%201.52656832-.5849888%202.11643872.00488163.5857864.58578644.591222%201.53009836.0048816%202.11643873L3.82594417%209.9967039l7.43188553%207.4318855c.5830904.5830904.5849888%201.5265683-.0048817%202.1164387-.5857864.5857865-1.5300983.591222-2.11643868.0048816L.2980849%2010.7114853c-.3526746-.3526746-.3939974-.89699-.11546894-1.2893215z'%20fill%3D'%23007aff'%20fill-rule%3D'evenodd'%2F%3E%3C%2Fsvg%3E");
}
.view header .icon-left .left-text {
  margin-left: 5px;
  line-height: 44px;
  color: #007aff;
  font-size: 15px;
  display: inline-block;
}
.view header .center {
  text-align: center;
  line-height: 44px;
  font-size: 17px;
  color: #000;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.view header .right-bar-text {
  width: 50px;
}
.view .page {
  padding-top: 0px;
  margin-top: 0px;
  height: auto;
  min-height: 100vh;
  width: 100%;
  margin-top: 45px;
  min-height: calc(100vh - 45px);
  height: 1000px;
}
.view .page .list-panel {
  padding: 30px;
}
.view .page .button-panel {
  padding: 15px 30px;
}
.view .page .button-panel .btn {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  border-color: #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  margin: 0;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}
.view .page .button-panel .btn:focus,
.view .page .button-panel .btn:hover {
  background: #fff;
  border-color: #409eff;
  color: #409eff;
}
.view .page .button-panel .btn-default {
  margin: 5px;
  width: 100%;
}
.message-dialog.custome {
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.message-dialog.custome .message-content {
  max-height: 80%;
  width: 95%;
  /*display: flex;
			flex-direction: column;*/
}
.message-dialog.custome .message-content .message-body {
  max-height: 300px;
  overflow: auto !important;
}
.message-dialog.custome .message-content .message-footer {
  color: #666;
}
.message-dialog.custome .message-content .message-footer .message-button:first-child {
  border-right: 1px solid #e4e4e4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.message-dialog.custome .message-content .message-footer .message-button {
  width: 50%;
  float: left;
}
.message-dialog.custome .message-content .message-footer .message-button.ok {
  color: #09BB07;
  font-weight: bold;
}
.message.message-show .message-dialog.custome {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.loading{width:100%;height:100%;display:none;text-align:center}.loading.show{display:block}.loading .loading-content .progress{display:inline-block;border:none;background-size:contain;stroke:#aaa;fill:#fff}.loading .loading-content .progress svg{display:block;position:relative;height:30px;width:30px}.loading .loading-content .indicator-text{font-size:12px;color:#999}.loading.fixed{position:fixed;z-index:999;top:0;left:0;right:0;bottom:0}.loading.fixed .loading-content{position:fixed;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);display:table-cell;vertical-align:middle;background:rgba(0,0,0,.5);border-radius:5px;line-height:30px;padding:15px}.loading.fixed .loading-content .progress{float:left;margin-right:10px;stroke:#fff}.loading.fixed .loading-content .indicator-text{font-size:14px;color:#fff;float:left}.loading.mask{background-color:#fff}@-webkit-keyframes fadeIn{0%{opacity:0}to{opacity:1}}@keyframes fadeIn{0%{opacity:0}to{opacity:1}}.loading.mask.fadeIn{-webkit-animation:fadeIn .3s;animation:fadeIn .3s}.loading.mask .loading-content{background:#fff;border-radius:0;width:70%;text-align:center}.loading.mask .loading-content .progress{float:none;stroke:#aaa}.loading.mask .loading-content .progress svg{height:12vw;width:12vw;max-height:60px;max-width:60px}.loading.mask .loading-content .indicator-text{float:none;font-size:12px;color:#999}